{% load staticfiles %}
{% load recaptcha2 %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Skinnarila GO!</title>
  <meta name="description" content="Skinnarila GO! on Titeenien taistot 2018
  tapahtumaan luotu peli, jossa eri paikkakuntien tietotekniikan ainejärjestöt
  kilpailee Skinnarilan herruudesta">
  <meta name="author" content="Mikael Sommarberg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular-animate.min.js"></script>
  <link rel="stylesheet" href="{% static 'angular-simple-toast.min.css' %}">
  <script src="{% static 'angular-simple-toast.min.js' %}"></script>

  <script src="{% static 'angular-leaflet-directive.js' %}"></script>

  <!-- Leaflet for openstreetmaps -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
   <!-- reCaptcha v2 -->
   {% recaptcha_init %}
  <script>
  let PLAYER_ICON_URL = "{% static 'player.png' %}";
  let TEAMS = JSON.parse('{{teams|safe}}');
  let GAME_STATE_URL = "{% url 'gamestate' %}";
  </script>
</head>

<body>
  {% block content %}
  {% endblock %}
  <script src="{% static 'controller2.js' %}"></script>
  <script src="{% static 'config.js' %}"></script>
</body>
</html>
