{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div ng-app="gameApp" class="box" ng-controller="GameController" style="height:100%;">
	{% if DEBUG == True %}
	<div id="debug" class="row header" style="background:black;color:white;">
		<p>Session Key:{{request.session.session_key}}</p>
		<p>Team ID:{{request.session.team}}</p>
		<p>Map Coords:{$ location.lat $}, {$ location.lng $}, zoom:{$ location.zoom $}</p>
		<p ng-if="lastClick">Last Click: {$lastClick.lat$}, {$lastClick.lng$}</p>
		<p ng-if="locationError"></p>
		<p ng-if="playerLoc">playerLoc: {$playerLoc.lat$}, {$playerLoc.lng$}</p>
	</div>
	{% else %}
	<div id="debug" class="row header" style="background:black;color:white;">
		<img src="{% static 'Skinnarila-GO.png' %}" height="50px" style="margin:auto;"/>
	</div>
	{% endif %}
	<script>
	let LOCATIONS = JSON.parse('{{locations|safe}}');
	let TEAM_ID = {{request.session.team}};
	</script>
	<div ng-cloak id="mask">
      <div id="captcha" class="g-recaptcha" data-callback="captcha_done" data-sitekey="6LdSOE0UAAAAAAhFSjhVaRIECH8GEl08Kg1spN0Y" style="display: none; position:absolute;bottom:70px; left:50%; pointer-events:all; z-index: 2000;"></div>
		<button ng-if="selectedMarker && selectedMarker.current_owner.id!=teamid" class="btn" ng-disabled='distFromMarker >= 25 || working' ng-class="distFromMarker < 25 ? 'btn-success' : 'btn-default'"
			 style="position:absolute;bottom:70px; left:50%; pointer-events:all; width: 70px; margin-left: -35px;" ng-click='captureSelected();'>Valtaa</button>
	  <button ng-if="selectedMarker && selectedMarker.current_owner.id==teamid" class="btn btn-success"
			 style="position:absolute;bottom:70px; left:50%; pointer-events:all; width: 120px; margin-left: -60px;" disabled>Joukkueellasi</button>
	  <button ng-show="cameraLock===false;" class="btn btn-primary" ng-click='cameraLock=true; location.lng=playerLoc.lng; location.lat=playerLoc.lat;'
			 style="position:absolute;bottom:70px; right:5%; pointer-events:all;"><img src='/static/glyphicons-12-camera2.png'></button>
		<h4 ng-if="selectedMarker" style="position:absolute;top:50px; width:100%; text-align:center;">Etäisyys {$ distFromMarker $}m</h4>
		<h4 ng-if="selectedMarker" style="position:absolute;top:70px; width:100%; text-align:center;">(<25m valtaaksesi)</h4>
		<h4 ng-if="selectedMarker" style="position:absolute;top:90px; width:100%; text-align:center;">{$ selectedMarker.message $}, {$ selectedMarker.current_owner.name $}</h4>
	</div>
	<leaflet class="row content" legend="legend" id="gamemap" markers="mergedMarkers" paths="paths" tiles="tiles" center="location" event-broadcast="events"></leaflet>
	<div class="row footer">
    <span ng-repeat="team in teams track by $index"><b>{$ $index+1 $}. {$ team.name $}</b><span ng-if="!$last">,&nbsp;</span></span>
  </div>
</div>
{% endblock %}
