{% extends "base.html" %}
{% block content %}
<div class="container" style="text-align:center">
  <h1 style="margin:auto;">Valitse joukkueesi</h1>
  <br />
  <form action="{% url 'teams' %}" method="post">
    {% csrf_token %}
    <table style="width:50%;margin:auto;">
      <tbody>
      {%for t in team %}
      <tr><td><input type="radio" name="team" value="{{t.id}}"></td><td><img height="75px" src="{{t.logo.url}}"></td><td style="vertical-a">{{t.name}}</td></tr>
      {%endfor%}
      </tbody>
    </table>
    <br />
    <button type="submit" class="btn btn-success btn-lg">Valitse</button>
  </form>
</div>
{% endblock %}
