div#debug p{
  padding:0px;
  margin:0px;
}
html,
body {
  height: 100%;
  margin: 0
}

#mask{
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    width:100%;
    height:100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row{
  margin:0px !important;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 50px;
}

.legend {
    padding: 2px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.9);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
    width: 71px;
}

.legend i {
    color: #777;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
